<ng-container *ngIf="pageexpried; else notExpried">
    <div class="card-body">
        <div class="container">
            <div class="message">
                <h2>Password Reset Link Expired</h2>
                <p>We're sorry, but the password reset link you used has expired.</p>
                <p>Password reset links are typically valid for a limited time for security reasons.</p>
                <p>Please follow these steps to reset your password:</p>
                <ol style="text-align: left;">
                    <li>Go back to the forgot password page and initiate a new password reset request.</li>
                    <li>Check your email inbox (including spam or junk folders) for the latest password reset email from us.</li>
                    <li>Click on the new password reset link provided in the email to set a new password for your account.</li>
                </ol>
                <p>If you continue to experience issues or have any questions, please don't hesitate to contact our support team.</p>
            </div>
            <a [routerLink]="['/auth/forget-password']" class="button">Go to Forgot Password Page</a>
            <!-- <p style="margin-top: 20px;">Need help? Contact our support team at <a href="mailto:support@example.com">support@example.com</a></p> -->
        </div>
    </div>
</ng-container>
<ng-template #notExpried>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Reset Password</b></h3>
            <!-- <a [routerLink]="['/auth/login']" class="link-primary">Already have an account?</a> -->
        </div>
    
        <form [formGroup]="resetpwdForm" (submit)="submit()">
            <div class="form-group mb-3">
                <label class="form-label" for="password">New Password</label>
                <div class="d-flex">
                    <input [type]="showpwd ? 'text' : 'password'" name="password" class="form-control" id="password" trim placeholder="New Password"
                        formControlName="password" [ngClass]="{ 'input-invalid': (f.controls['password'].touched && f.controls['password'].invalid) || (isSubmit && f.controls['password'].invalid) }" />
                    <i class="ti {{ showpwd ? 'ti-eye-off' : 'ti-eye' }}" (click)="showpwd = !showpwd"></i>
                </div>
                <ng-container
                    *ngIf="(f.controls['password'].touched && f.controls['password'].invalid) || (isSubmit && f.controls['password'].invalid)">
                    <span
                        [ngClass]="{'input-lable-invalid': (f.controls['password'].touched && f.controls['password'].invalid) || (isSubmit && f.controls['password'].invalid) }">
                        <span *ngIf="f.controls['password'].getError('required')">New Password field is required.</span>
                        <span *ngIf="f.controls['password'].getError('pattern')">New Please enter valid password.</span>
                    </span>
                </ng-container>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="confirmpassword">Confirm Password</label>
                <div class="d-flex">
                    <input [type]="showconfirmpwd ? 'text' : 'password'" name="confirmpassword" class="form-control"
                        id="confirmpassword" trim placeholder="Confirm Password" formControlName="confirmpassword"
                        [ngClass]="{ 'input-invalid': (f.controls['confirmpassword'].touched && f.controls['confirmpassword'].invalid) || (isSubmit && f.controls['confirmpassword'].invalid) }" />
                    <i class="ti {{ showconfirmpwd ? 'ti-eye-off' : 'ti-eye' }}" (click)="showconfirmpwd = !showconfirmpwd"></i>
                </div>
                <ng-container
                    *ngIf="(f.controls['confirmpassword'].touched && f.controls['confirmpassword'].invalid) || (isSubmit && f.controls['confirmpassword'].invalid)">
                    <span
                        [ngClass]="{'input-lable-invalid': (f.controls['confirmpassword'].touched && f.controls['confirmpassword'].invalid) || (isSubmit && f.controls['confirmpassword'].invalid) }">
                        <span *ngIf="f.controls['confirmpassword'].getError('required')">Confirm Password field is
                            required.</span>
                        <span *ngIf="f.controls['confirmpassword'].getError('mismatch')">Password and Confirm Password must
                            be the same.</span>
                    </span>
                </ng-container>
            </div>
    
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="isValidSubmit">
                    <span *ngIf="isValidSubmit" class="spinner-grow spinner-grow-sm" role="status"></span>
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</ng-template>