form {
    i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 -12px 0 0;
        cursor: pointer;
        padding: 12px;
        font-size: 18px;
        position: absolute;
        top: auto;
        right: 45px;
    }
}

.container {
    max-width: 500px;
    margin: 0 auto;

    .message {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 5px;

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}